<form class="max-w-4xl mx-auto bg-white p-6 rounded-2xl shadow-md space-y-6"
[formGroup]="denunciaForm" 
(ngSubmit)="onSubmit()">
<h1 class="text-lg md:text-4xl font-extrabold text-gray-900 mb-6">Formulario de Cadastro de Denuncia</h1>
<!-- Descrição (ocupa largura toda) -->
  <div>
    <label for="descricao" class="block text-sm font-medium text-gray-700">Descrição*</label>
    <textarea id="descricao" formControlName="descricao" required
      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm p-2 border focus:ring-blue-500 focus:border-blue-500"></textarea>
  </div>

  <!-- Grid com 2 colunas -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <!-- Imagens -->
    <div>
      <label for="imagens" class="block text-sm font-medium text-gray-700">Imagens</label>
      <input type="file" id="imagens" formControlName="imagens" multiple accept="image/*"
        class="mt-1 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4
               file:rounded-md file:border-0 file:text-sm file:font-semibold
               file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"/>
    </div>

    <div>
      <button 
      (click)="localizacaoAtual()"
      type="button"
      class="w-full bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow hover:bg-blue-700 cursor-pointer">
      Pegar localização atual
    </button>
    </div>
    
    <!-- CEP -->
    <div>
      <label for="cep" class="block text-sm font-medium text-gray-700">CEP</label>
      <input type="text" id="cep" formControlName="cep" 
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm p-2 border focus:ring-blue-500 focus:border-blue-500"/>
    </div>
    <!-- Endereço completo -->
    <div>
      <label for="enderecoCompleto" class="block text-sm font-medium text-gray-700">Endereço completo</label>
      <textarea id="enderecoCompleto" formControlName="enderecoCompleto"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm p-2 border focus:ring-blue-500 focus:border-blue-500"></textarea>
    </div>

    <!-- Cidade -->
    <div>
      <label for="rua" class="block text-sm font-medium text-gray-700">Rua</label>
      <input type="text" id="rua" formControlName="rua" maxlength="100"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm p-2 border focus:ring-blue-500 focus:border-blue-500"/>
    </div>

    <!-- Cidade -->
    <div>
      <label for="bairro" class="block text-sm font-medium text-gray-700">Bairro</label>
      <input type="text" id="bairro" formControlName="bairro" maxlength="100"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm p-2 border focus:ring-blue-500 focus:border-blue-500"/>
    </div>
    
    <!-- Cidade -->
    <div>
      <label for="cidade" class="block text-sm font-medium text-gray-700">Cidade</label>
      <input type="text" id="cidade" formControlName="cidade" maxlength="100"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm p-2 border focus:ring-blue-500 focus:border-blue-500"/>
    </div>

    <!-- Estado -->
    <div>
      <label for="estado" class="block text-sm font-medium text-gray-700">Estado (UF)</label>
      <input type="text" id="estado" formControlName="estado" maxlength="2"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm p-2 border focus:ring-blue-500 focus:border-blue-500"/>
    </div>
    <!-- Prioridade -->
    <div>
      <label for="prioridade" class="block text-sm font-medium text-gray-700">Prioridade*</label>
      <select id="prioridade" formControlName="prioridade" required
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm p-2 border focus:ring-blue-500 focus:border-blue-500">
        <option value="BAIXA">Baixa</option>
        <option value="MEDIA" selected>Média</option>
        <option value="ALTA">Alta</option>
      </select>
    </div>

  </div>
  <!-- Botão -->
  <div class="pt-4">
    <button
    [disabled]="!denunciaForm.valid"
    [class]="{'bg-gray-400' : !denunciaForm.valid, 'bg-blue-600' : denunciaForm.valid, 'hover:bg-blue-700':denunciaForm.valid, 'cursor-pointer' : denunciaForm.valid}" 
    type="submit"
      class="w-full bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow hover:bg-blue-700">
      Cadastrar
    </button>
  </div>
</form>
